<header>
    <img class="logo" src="img/logo.jpg" alt="Logo Breaking Bad" />
    <nav title="Opções">
        <ul>
            <li><a ui-sref="characters">Personagens</a></li>
            <li class="active"><a ui-sref="episodes">Episódios</a></li>
            <li><a ui-sref="sugestion">Sugestão</a></li>
        </ul>
    </nav>
    <div class="search">
        <form ng-submit="find(name)">
            <input type="text" title="Encontre um personagem" ng-model="name" placeholder="Encontre um personagem ..." />
            <button class="btn-search" type="submit"><i class="search-icon"></i></button>
        </form>
    </div>
</header>
<section>
    <h1 class="tx-c">Episódios</h1>
    <div class="table-wrapper" ng-if="loaded">
        <table class="ep-table">
            <tbody>
                <tr ng-repeat="ep in epList track by $index">
                    <td width="1%">
                        <h1 ng-bind="ep.title"></h1>
                        <p>
                            Season <span ng-bind="ep.season"></span> - Espisódio <span ng-bind="ep.episode"></span>
                        </p>
                    </td>
                    <td class="tx-c">
                        <p class="faded">Data Estreia:</p>
                        <p ng-bind="ep.air_date|date:'dd/MM/yyyy'"></p>
                    </td>
                    <td width="40%">
                        <p class="faded">Personagens:</p>
                        <p class="chars">
                            <span ng-repeat="charName in ep.characters" ng-bind="charName"></span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sk-cube-grid" ng-if="!loaded">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</section>
<footer>
    <ul class="pagination" ng-if="pagination">
        <li ng-if="getActivePage()!==getTotalPages()" ng-click="setEpisodesPage(getActivePage()+1)">Ver mais</li>
    </ul>
</footer>